<div class="container">
  <h1>Welcome</h1>
  <h2>WAT</h2>
  <div class="description">
    <p>This site ranks beers from the 3Cs, Columbus, CLeveland, and Cincinatti via their www.beeradvocate.com ratings.  It serves the data out as an array of json objects.</p>
    <p>Beers are ranked according to their average rating and the number of votes for each beer.</p>
  </div>


  <h2>Usage</h2>
  <div class="usage">
    <p>You can send a GET request to three-c-brewery-cagematch.herokuapp.com/beers.</p>
    <p>There are a few <b>parameters</b> you can specify in order to cull the data and also change the rankings.</p>
  </div>
</div>
